.home-block h1, h2 {
    text-align: center;
}
.home-block h1{
    text-align: center;
    padding-top: 20px
}
.home-block Button{
    background-color: #54bbea;
    border:black;
    padding-left:5px;
    padding-right:5px;
    border-radius:4px;
}
