.login-input {
    display: block;
    height: 40px;
    width: 100%;
}

label, span {
    color: #fff
}

.login-btn {
    margin: 10px 0 10px;
    border-radius: 2px;
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
}